@page
@inject IUrlGenerator _url

@{
    ViewData["Title"] = "Upload package";

    var baseUrl = Url.PageLink("/Index");
    var publishUrl = _url.GetPackagePublishResourceUrl();
    var serviceIndexUrl = _url.GetServiceIndexUrl();
}

<h1>Upload</h1>
<hr />

<p>You can push packages using the service index <code>@serviceIndexUrl</code>.</p>

<div class="tabbed-info" x-data="{ tabs: tabs, active: tabs[0] }">
    <ul class="nav tab-nav">
        <template x-for="tab in tabs" :key="tab.name">
            <li x-bind:class="{ 'active': active.name === tab.name }">
                <a href="#" x-text="tab.name" @@click.prevent="active = tab"></a>
            </li>
        </template>
    </ul>

    <div class="tab-content-box">
        <div class="tab-script">
            <template x-for="line in active.content">
                <div class="tab-script-line" x-text="line"></div>
            </template>
        </div>

        <div class="tab-copy">
            <button class="btn btn-warning"
                    type="button"
                    data-bs-toggle="popover"
                    data-bs-placement="bottom"
                    data-bs-content="Copied"
                    @@click="window.baget.copyTextToClipboard(active.content.join('\n'), $el)">
                <i class="ms-Icon ms-Icon--Copy"></i>
            </button>
        </div>
    </div>

    <div class="alert alert-warning mt-2">
        For more information, please refer to
        <a target="_blank"
           rel="noopener noreferrer"
           x-bind:href="active.documentation"
           x-text="`${active.name}'s documentation`">
        </a>.
    </div>
</div>

<script type="text/javascript">
    let tabs = [
        {
            name: ".NET CLI",
            content: ["dotnet nuget push -s @serviceIndexUrl package.nupkg"],
            documentation: "https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-push",
        },

        {
            name: "NuGet",
            content: ["nuget push -Source @serviceIndexUrl package.nupkg"],
            documentation: "https://docs.microsoft.com/en-us/nuget/tools/cli-ref-push",
        },

        {
            name: "Paket",
            content: ["paket push --url @baseUrl package.nupkg"],
            documentation: "https://fsprojects.github.io/Paket/paket-push.html",
        },

        {
            name: "PowerShellGet",
            content: [
                "Register-PSRepository -Name \"BaGet\" -SourceLocation \"@serviceIndexUrl\" "
                  + "-PublishLocation \"@publishUrl\" -InstallationPolicy \"Trusted\"",
                "Publish-Module -Name PS-Module -Repository BaGet"
            ],
            documentation: "https://docs.microsoft.com/en-us/powershell/module/powershellget/publish-module",
        },
    ];
</script>
